<h1><%= @user.name %></h1>
<div class="row">

  <h3>Hosted Events</h3>
    <% if logged_in? && @user == current_user %>
      <%= link_to '(Create a new event)', new_event_path %>
    <% end %>

    <div class="container">
    	<div class="list-group">
    		<div class="events">
      		<%= render @events %>
    		</div>
    	</div>
    </div>

    <h3>Upcoming Events</h3>
    <div class="container">
    	<div class="list-group">
    		<div class="events">
      		<%= render @upcoming_events %>
    		</div>
    	</div>
    </div>

    <h3>Past Events</h3>
    <div class="container">
    	<div class="list-group">
    		<div class="events">
      		<%= render @past_events %>
    		</div>
    	</div>
    </div>
</div>